transformers
datasets
scikit-learn
newspaper3k
PyMuPDF
torch
fastapi
uvicorn
jinja2
python-multipart
gunicorn
pandas
numpy
tqdm
sentencepiece
protobuf
requests
lxml
lxml-html-clean
duckduckgo-search
langchain>=1.2.9
langgraph>=1.0.8
langchain-core>=1.2.7
langchain-groq>=1.1.2
langchain-community>=0.4.1
langchain-huggingface>=1.2.0
langchain-text-splitters>=1.1.0
pytest
pytest-cov
peft
black
ruff