transformers
datasets
scikit-learn
newspaper3k
PyMuPDF
pytest
torch
fastapi
uvicorn
gunicorn
flask
pandas
numpy
tqdm
sentencepiece
protobuf
requests
lxml
lxml-html-clean
duckduckgo-search
langgraph
langchain
langchain-community
langchain-huggingface
huggingface-hub
langchain-core
langchain-community