transformers
datasets
scikit-learn
newspaper3k
PyMuPDF
torch
fastapi
uvicorn
jinja2
python-multipart
gunicorn
pandas
numpy
tqdm
sentencepiece
protobuf
requests
lxml
lxml-html-clean
duckduckgo-search
langgraph
langchain
langchain-community
langchain-huggingface
huggingface-hub
langchain-core
pytest
pytest-cov
peft
black
ruff