transformers>=4.44.0
datasets>=3.0.0
scikit-learn>=1.5.0
newspaper3k
PyMuPDF
torch>=2.4.0
fastapi
uvicorn
jinja2
python-multipart
gunicorn
pandas>=2.2.0
numpy>=1.26.4
tqdm
sentencepiece
protobuf
requests
lxml
lxml-html-clean
duckduckgo-search
langchain>=1.2.9
langgraph>=1.0.8
langchain-core>=1.2.7
langchain-groq>=1.1.2
langchain-community>=0.4.1
langchain-huggingface>=1.2.0
langchain-text-splitters>=1.1.0
huggingface-hub
pytest
pytest-cov
peft
black
ruff
sqlmodel